[submodule "sdk/boost"]
	path = sdk/boost
	url = https://github.com/boostorg/boost.git
[submodule "sdk/jsoncpp"]
	path = sdk/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "sdk/DirectXTK12"]
	path = sdk/DirectXTK12
	url = https://github.com/microsoft/DirectXTK12.git
[submodule "sdk/DirectXTex"]
	path = sdk/DirectXTex
	url = https://github.com/microsoft/DirectXTex.git
[submodule "sdk/googletest"]
	path = sdk/googletest
	url = https://github.com/google/googletest.git
[submodule "sdk/rttr"]
	path = sdk/rttr
	url = https://github.com/rttrorg/rttr.git
[submodule "sdk/sol2"]
	path = sdk/sol2
	url = https://github.com/ThePhD/sol2.git
[submodule "sdk/sdl"]
	path = sdk/sdl
	url = https://github.com/SDL-mirror/SDL.git
[submodule "sdk/imgui"]
	path = sdk/imgui
	url = https://github.com/LunarGameTeam/imgui.git
[submodule "sdk/DirectXTK"]
	path = sdk/DirectXTK
	url = https://github.com/microsoft/DirectXTK.git
[submodule "sdk/eigen"]
	path = sdk/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "sdk/assimp"]
	path = sdk/assimp
	url = https://github.com/assimp/assimp.git
[submodule "sdk/stb"]
	path = sdk/stb
	url = https://github.com/nothings/stb.git
